*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
   list-style: none;
}

body{
    font-family: 'Montserrat',sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkblue;
    min-height: 4vh;

}
label.logo{
    font-weight: bold;
    color:rgb(238, 238, 238);
    letter-spacing: 2px;
    font-size: 25px;
    padding-left: 2px;
    
}
span{
    color: rgb(230, 72, 45);
    font-size: 14px;
}
nav ul{
    display: flex;
    text-decoration: none;
    width:300px;
    font-weight: bold;
    letter-spacing: 3px;
    float: center;
    padding: 20px;
    margin-right: 20%;
}
nav ul li{
    display: inline-block;
    /* background-color: red; */
    color: whitesmoke;
    display: inline-block;
    font-size: 15px;
    padding: 15px;

}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 4px;
    border-radius: 5px 9px;
}
a:hover{
    background: rgb(19, 63, 158);
    color: rgb(230, 72, 45);
    transition: .8s;
}

/* footer{
    background-color: red;
    display: flex;
}
footer h3{
    color: black;
    text-align: center;
    font-family:'Montserrat',sans-serif;
} */


@media screen and(min-width: 300px) and (max-width: 900px) {
    label.logo{

        font-size: 5em;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 700px) {
    ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
    }
    nav ul li {
        display: block;
    }
}
